* {
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "roboto", "sans-serif";
}
h1 {
  font-size: 2rem;
  text-align: center;
  font-weight: bold;
}
span {
  font-weight: bold;
}
form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 50px 0;
}
button {
  margin-top: 20px;
  height: 50px;
  background-color: #5c47d3;
  border-radius: 5px;
}
input {
  height: 50px;
  border-radius: 5px;
  padding-left: 10px;
}
.red {
  border: solid 1px red;
}
